<div class="container">
  <div class="light-dark">
    @if (!light) {
      <fa-icon [icon]="faSun" (click)="toggleTheme()"></fa-icon>
    }
    @if (light) {
      <fa-icon [icon]="faMoon" (click)="toggleTheme()"></fa-icon>
    }
  </div>

  <header>
    <h1>Game of Thrones: <span>The Houses</span></h1>
  </header>

  <div class="buttons">
    @for (house of houseNames; track house) {
      <app-button [houseName]=house.name (choosenHouse)="selectedHouse = house"
        (getHouse)="(getHouse())">
      </app-button>
    }
  </div>


  <div class="result">
    @if (!selected) {
      <div class="img-div" [class.fade-away]="fadeAway">
        <img src="assets/images.jpg" alt="">
      </div>
    }

    @if (selected) {
      <div class="house-details" [class.fade-away]="fadeAway">
        @if (houseName) {
          <p class="detail"><fa-icon [icon]="faDungeon"></fa-icon>House: <span>{{houseName}}</span></p>
        }
        @if (region) {
          <p><fa-icon [icon]="faMountainSun"></fa-icon>Region: <span>{{region}}</span></p>
        }
        @if (coatOfArms) {
          <p><fa-icon [icon]="faShield"></fa-icon> Coat of Arms: <span>{{coatOfArms}}</span></p>
        }
        @if (words) {
          <p><fa-icon [icon]="faQuoteRight"></fa-icon> Words: <span>{{words}}</span><fa-icon [icon]="faQuoteRight"></fa-icon></p>
        }
      </div>
    }
  </div>
</div>