<div class="container">
  <div class="light-dark"(click)="toggleTheme()">
    @if (!light) {
      <fa-icon [icon]="faSun"></fa-icon>
    }
    @if (light) {
      <fa-icon [icon]="faMoon"></fa-icon>
    }
  </div>

  <header>
    <h1>Game of Thrones: <span>The Houses</span></h1>
  </header>

  <div class="buttons">
    @for (house of houses; track house) {
      <app-button 
        [houseName]=house.name 
        (choosenHouse)="selectedHouse = house"
        (getHouse)="getHouse()">
      </app-button>
    }
  </div>


  <div class="result">
    @if (!selected) {
      <div class="img-container" [class.fade-away]="fadeAway">
        <img src="assets/images.jpg" alt="Game of Thrones Wolf Image">
      </div>
    }

    @if (selected) {
      <div class="house-details" [class.fade-away]="fadeAway">
        @if (printedHouse!.name) {
          <p class="detail"><fa-icon [icon]="faDungeon"></fa-icon>House: <span>{{ printedHouse!.name }}</span></p>
        }
        @if (printedHouse!.region) {
          <p><fa-icon [icon]="faMountainSun"></fa-icon>Region: <span>{{ printedHouse!.region }}</span></p>
        }
        @if (printedHouse!.coatOfArms) {
          <p><fa-icon [icon]="faShield"></fa-icon> Coat of Arms: <span>{{ printedHouse!.coatOfArms }}</span></p>
        }
        @if (printedHouse!.words) {
          <p><fa-icon [icon]="faQuoteRight"></fa-icon> Words: <span>{{ printedHouse!.words }}</span><fa-icon [icon]="faQuoteRight"></fa-icon></p>
        }
      </div>
    }
  </div>
</div>